{% extends 'base.html' %}


{% block content %}
    {% for obj in eng %}
        <div>
            <a id="{{ obj.id }}" style="cursor: pointer" onclick="get_data({{ obj.id }})" class="spoiler"><b>Lesson {{ obj.lesson_number }}</b></a><br>
            <!--gegin--><div id="body{{ obj.id }}" class="spoiler_body"></div><!--gegin-->
        <!--- enddddddddd   -->
        </div>
    {% endfor %}



<script type="text/javascript">
function get_data(lesson_id){
    $.ajax({
        url:'/english_get/'+lesson_id+'/',
        success: function (data){
            //$('#v'+lesson_id) .html((data.eng.vocabulary).replace(/\n/g,"<br>")).toggle('normal');
            $("#body"+lesson_id).html('<div><a id="vocabulary'+lesson_id+'" style="cursor: pointer" onclick="openlinks(this.id)">Vocabulary</a><br><div id="v" class="spoiler_body">' + data.eng.vocabulary+'</div>' +
                    '</div>' +
                    '<div><a id="story'+lesson_id+'" style="cursor: pointer" onclick="openlinks(this.id)">Story</a><br><div class="spoiler_body">'+data.eng.story+'</div>' +
                    '</div>' +
                    '<div><a id="cultural_notes'+lesson_id+'" style="cursor: pointer" onclick="openlinks(this.id)">Cultural notes</a><br><div class="spoiler_body">'+data.eng.cultural_notes+'</div>' +
                    '</div>' +
                    '<div></div><a id="action'+lesson_id+'" style="cursor: pointer" onclick="openlinks(this.id)">Action</a><br><div class="spoiler_body">'+data.eng.action+'</div>' +
                    '</div>').toggle('normal');
        }
    });
}


function openlinks(id) {
    $('#'+id).parent().children('div.spoiler_body').toggle('normal');
    return false;
}
</script>
{% endblock %}