{% extends 'base.html' %}

{% block title_offtop %}
    <CENTER><h1>OFFTOP</h1></CENTER>
    <table id="submissions" border="1"></table>
{% endblock %}
{% block content %}
   {% for message in objects %}
    <div id="reload" class="wow bounceInRight">
<article id="article" class="post">
    <header>
        <div class="title"><h2> </h2></div>
        <div class="meta">
            <time id="poc" class="published">{{ message.created_date|date:'Y-m-d' }}<br>{{ message.created_date|date:'H:i' }}</time>
            <a href="#" class="author"><span class="name"></span><img src="/static/images/avatar.jpg" alt="" /></a>
        </div>
    </header>
    <p>{{ message.message }}</p>
    <footer>
        <ul class="stats">
            <li><a id="message_id{{ message.id }}" onclick="likemessage({{ message.id }})" class="icon fa-heart">{{ message.likes }}</a></li>
        </ul>
    </footer>
</article>
    </div>
    {% endfor %}
   <!-- <script type="text/javascript">
       setInterval(function() {
            var content = document.getElementById('#reload')
             $.ajax({
               url:"/offtop/reload/",
               dataType: "json",
               async: true,
               success: function(){

               }
             })
            }, 5000);
        </script> -->
{% endblock %}

{% block sumbit %}
    {% if request.user.is_authenticated %}
     <form onsubmit="return false;" id="offt_form">
        <div class="12u$">
        <textarea name="message" id="oft_message" placeholder="Enter your message" rows="6"></textarea></div>
        <div class="12u$"><br>
        <ul class="actions">
            <li><input id="send" onclick="offtop();" type="submit" value="Отправить сообщение"></li>
            <li><input type="reset" value="Сброс"></li>
            <li><input id="del_all" type="submit" onclick="delete_comments()" value="Отчистить"></li>
        </ul>
    </div>
    </form>
    {% else %}
        <script>$(document).ready(function(){
            alert('Пожалуйста зарегистрируйтесь, чтобы писать в оффтопе')
            setTimeout(function() {
                 window.location.href = "{% url 'reg' %}"
                },3000)
        })</script>
    {% endif %}

    <script type="text/javascript">
                function offtop(){
                    var mess = $('#oft_message').val();
                    var butSend = document.getElementById('send');
                    var textBox = document.getElementById('oft_message');
                    butSend.disabled = true;
                $.ajax({
                    type: 'POST',
                    url:"/offtop/add/",
                    data:{
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        messs: mess
                    },
                    success: function(){
                        butSend.disabled= false;
                        textBox.value = '';
                        }
                });
            }
        </script>
             <script type="text/javascript">
              function likemessage(message_id){
                  var obj= document.getElementById('message_id'+message_id);
                  var val = Number(obj.innerHTML);
                  obj.style.cssText =   "pointer-events: none;";
                  $("#message_id"+message_id).fadeOut();
                  $.ajax({
                      url:'/messagelike/'+message_id,
                      cache: false,
                      success: function(){
                          $("#message_id"+message_id).html(val+1);
                          obj.style.cssText =   "pointer-events: auto ";
                          $("#message_id"+message_id).fadeIn()
                      }
                  })
                  };
              var dataChache;
            </script>
             <script type="text/javascript">
                 function delete_comments(){
                        var delAll = document.getElementById('del_all');
                        delAll.disabled = true;
                        $.ajax({
                            url:'/deleteallmessage/',
                            success: function (){
                                    document.getElementById("oft_add_com").innerHTML = '';
                                    delAll.disabled = false;
                            }

                        });
                    };
                 $(document).ready(function refresh(){
                      $.get('/offtop/reload/').done(function(data) {
                          var table = $('#poc');
                          var msUTC;
                          dataChache = data.objects.length;
                          var anim = '';
                          var anim2 = '';
                          var adminstyle = '';
                          anim = '<div id="reload" class="wow bounceInRight">';
                          anim2 = '</div>';
                          var d, d2;
                          table.html('');
                          document.getElementById("oft_add_com").innerHTML = '';
                          data.objects.forEach(function (obj) {
                              msUTC = new Date(obj.created_date);
                              d = msUTC.getDate() + '-' + (msUTC.getMonth() + 1) + '-' + msUTC.getFullYear();
                              d2 = msUTC.getHours() + ':' + msUTC.getMinutes() + ':' + msUTC.getSeconds();
                              $(anim + '<article id="article" class="post">' + adminstyle + '<header><div class="title"><h2><a href="/user_profile/'+obj.author+'/">' + obj.author + '</a></h2> <p></p> </div> <div class="meta"> ' + d + '<br>' + d2 + '<a href="#" class="author"><span class="name">' + obj.author + '</span><img src="/static/images/av_undef.png" alt="" /></a></div></header><p>' + obj.message + '</p> <footer> <ul class="stats"> <li><a id="like_id" onclick="postlike()" class="icon fa-heart">' + obj.likes + '</a></li> </ul> </footer> </article>' + anim2).appendTo('#oft_add_com')
                                if (obj.author === 'admin'){
                                    console.log(obj.author);
                                 document.getElementById('article').style.border = 'solid 1px rgba(255, 0, 0, 0.76)'
                                }
                          });
                      })
                 });
                 setInterval(function update(){
                     $.get('/offtop/reload/').done(function(data){
                            console.log('test1');
                         if(data.objects.length !== dataChache && data.objects.length !== 0){
                             var dataLength = data.objects.length;
                             dataChache = dataLength;
                             var lastObj = data.objects[0];

                             msUTC = new Date(lastObj.created_date);
                             var d = msUTC.getDate() + '-' + (msUTC.getMonth() + 1) + '-' + msUTC.getFullYear();
                             var d2 = msUTC.getHours() + ':' + msUTC.getMinutes() + ':' + msUTC.getSeconds();
                             $('<div id="reload" class="wow bounceInRight"><article id="article" class="post"><header><div class="title"><h2><a href="/user_profile/'+lastObj.author+'/" >' + lastObj.author + '</a></h2> <p></p> </div> <div class="meta">'+d+'<br>'+d2+'<a href="#" class="author"><span class="name"></span><img src="/static/images/av_undef.png" alt="" /></a></div></header><p>' + lastObj.message + '</p> <footer>  <ul class="stats"> <li><a id="like_id" onclick="postlike('+lastObj.id+')" class="icon fa-heart">' + lastObj.likes + '</a></li> </ul> </footer> </article></div>').prependTo('#oft_add_com')
                             if (lastObj.author === 'admin'){
                                 document.getElementById('article').style.border = 'solid 1px rgba(255, 0, 0, 0.76)'
                             }
                         }
                     })
                 },400)
        </script>


{% endblock %}
