
<section>
   <center><h2>TOP IN THE WORLD</h2></center>
<ul id="user_prof_main" class="posts">
</ul>
</section>
<script type="text/javascript">
    $(document).ready(function(){
        var html = document.getElementById('user_prof');
        $.ajax({
          url: '/users_section/',
          success: function(data){
              var user = "{{ user_inf.user_key }}";
              {% if user.is_authenticated %}
                  {% if not user_inf %}
                        try {
                        if (data.request_user[0].avatar !== null) document.getElementById('avatar').src = data.request_user[0].avatar;
                        }
                        catch (TypeError) {
                        $('#header_check_activ').html('Не активен');
                        }
                  {% endif %}
              {% endif %}
                  if (user !== ""){
                        if ("{{ user_inf.avatar }}" !== "None") document.getElementById('avatar').src = "{{ user_inf.avatar }}";}
              data.user_section.forEach(function(obj){
                  if(obj.avatar=== null){
                      obj.avatar = '/static/images/av_undef.png/'
                  }
                  $('#user_prof_main').append('<li id = "user_prof" >' +
                          '<article>' +
                          '<header>' +
                          '<h3><a id="user_name_section" href="/user_profile/'+obj.user_key+'/">'+obj.user_key+'</a></h3>' +
                          '<reputation id="user_rep_section" class="published" datetime="2015-10-20">ЗВАНИЕ - '+obj.rank_name+'</reputation>' +
                          '<reputation id="user_rep_count_section" class="published" datetime="2015-10-20">РЕПУТАЦИЯ - '+obj.reputation+'</reputation>' +
                          '</header>' +
                          '<a href="/user_profile/'+obj.user_key+'/" class="image"><img src="'+obj.avatar+'" alt="" /></a> ' +
                          '</article>' +
                          '</li>')
              })
          }
        })
    })
</script>