asgiref==0.14.0
autobahn==0.16.0
beautifulsoup4==4.5.1
bleach==1.4.3
cffi==1.7.0
cryptography==1.5
dj-database-url==0.4.1
Django==1.10
django-annoying==0.10.1
django-appconf==1.0.2
django-cors-headers==1.1.0
django-crispy-forms==1.6.0
django-ddp==0.19.1
django-filter==0.14.0
django-geoip==0.5.2.1
django-ipware==1.1.5
djangorestframework==3.4.4
gevent==1.1.2
gevent-websocket==0.9.5
greenlet==0.4.10
gunicorn==19.6.0
haikunator==2.0.0
html5lib==0.9999999
idna==2.1
Markdown==2.6.6
meteor-ejson==1.1.0
ndg-httpsclient==0.4.2
Pillow==3.1.0
psycogreen==1.0
psycopg2==2.6.2
pusher==1.5
pyasn1==0.1.9
pybars3==0.9.1
pycparser==2.14
PyMeta3==0.5.1
pyOpenSSL==16.1.0
PyQt5==5.7
python-dateutil==2.5.3
python-gflags==3.0.6
pyuploadcare==2.0.1
requests==2.11.0
sip==4.18.1
six==1.10.0
txaio==2.5.1
urllib3==1.16
virtualenv==15.0.3
vk==2.0.2
webencodings==0.5
websockets==3.2
whitenoise==2.0.6
zope.interface==4.2.0